{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="row mt-3">
		<div class="col-2 mr-5">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="{{ profile.pic }}" alt="My image">
		  		<div class="card-body">
					<h5 class="card-title">{{ profile.user.username }}</h5>
				<form method="POST" action="{% url 'user_profile:show_profile' profile.id %}" enctype="multipart/form-data" action="">
					{% csrf_token %}
					<div class="form-group">
					<p class="card-text mt-3">Change your profile picture:</p>
			    	<input class="form-control-file" type="file" name="profile_pic"><br>
			    	<button type="submit" class="btn btn-primary">Upload</button>
			    	<p class="card-text mt-3">Bio:</p>
			    	<p class="card-text mt-3">{{ profile.bio }}</p>
			    	</div>
				</form>
				</div>
			</div>
		</div>
		<div class="col-6 ml-5">
			<form method="POST" action="{% url 'tweet:add_tweet' profile.id %}">
			{% csrf_token %}
			  <div class="form-group">
			    <label>Your Tweet: </label>
			    <textarea class="form-control" name="tweet" rows="3"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Tweet</button>
			</form>
			<hr class="my-4">
			{% for tweet in tweets %}
			<div class="card mb-3">
			  <div class="card-body">
			    <p class="card-text">{{ tweet.text }}</p>
			    <p class="card-text"><small class="text-muted">{{ tweet.pub_date }}</small></p>
			    <p class="card-text"><small class="text-muted">{{ profile.user.username }}</small></p>
			    <form method='POST' action="{% url 'tweet:delete_tweet' profile.id tweet.id %}">
			    	{% csrf_token %}
			    	<button type="submit" class="card-link">Delete tweet</button>
			    </form>
			  </div>
			  <div class="card-body">
				<form method="POST" action="{% url 'comment:add_comment' tweet.id %}">
					{% csrf_token %}
			  <div class="form-group">
			    <label>Your Comment: </label>
			    <textarea class="form-control" name="comment" rows="3"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Comment</button>
			</form>		
			<hr class="my-4">	  	

			{% for comment in tweet.comments.all %}
			<p class="card-text">{{ comment.text }}</p>
			    <p class="card-text"><small class="text-muted">{{ comment.pub_date }}</small></p>
			    <p class="card-text"><small class="text-muted">{{ user.username }}</small></p>
			   {% endfor %}
			</div>
			{% endfor %}
						  </div>
		</div>
	</div>
</div>

{% endblock %}